*{
    margin: 0px;
    padding: 0px;
}
.potted_Plants_Main{
    display: flex;
    gap: 40px;
    width: 90%;
    margin: auto;
    text-align: left;
    margin-bottom: 600px;

}
.potted_Plants_first{
    width: 25%;
}
.potted_Plants_second{
    width: 68%;
    
}
.potted_Plants_second img {
    height: 350px;
    
}
.priceSelect{
    font-size: 20px;
}
.checkbox_price{
    height: 15px;
}
.ptterd_plants{
  display: grid;
  grid-template-columns: repeat(3, 30%);
    gap: 3%;
}
.prductDetail_potted_Plants{
    
    margin: -20px;
}
