.flower_Main{
    width: 100%;
    margin-bottom: 40px;
}
.flower_home_about{
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.flower_home_slider{
   
    height: 350px;
    width:100%;
    margin-left: 140px;
    
   
}
.flower_home_slider>img{
    width: 100%;
    height:100%;
}


.services{
    font-size: 20px;
    font-weight: 600;
}
.flower_div{
    width: 85%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,23%);
    gap: 2%;
    margin-bottom: 300px;
}
.flower_div img {
    height: 350px;
}
.potted_plants{
    width: 100%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 50px;
}
